<div class="row center">
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
  <a class="waves-effect waves-yellow btn-flat btn-large"> <span class="mainpage_title">About me</span></a>
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
</div>


<div class="slider" >
    <ul class="slides">
      <li>
        <img src="/assets/img/mypage/white_background.jpg"> <!-- random image -->
         <div class="caption center-align">
          <div class="card small hoverable">
            <div class="row">
              <div class="valign-wrapper">
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/ruby_logo.png">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/rails_logo.png">
                </div>
                <div class="col l2  m4 s8 offset-s2  center-align" style="padding-top:15px;">
                    <img class=" circle responsive-img hoverable" style="height:160px;display:inline-block;" src="/assets/img/mypage/profile2.jpg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/java_logo.png">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/angularJS_logo.png">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                <p class="black-text">I am a junior Full-stack web developer<br>
                  Love new techs! Love coding!</p>
              </div>
            </div>


          </div>
        </div>
      </li>
      <li>
        <img src="/assets/img/mypage/white_background.jpg"> <!-- random image -->
        <div class="caption left-align">
          <div class="card small hoverable">
            <div class="row">
              <div class="valign-wrapper">

                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/NYIP.jpg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/Canon_Logo.jpg">
                </div>
                <div class="col l2 m4 s8 offset-s2 center-align" style="padding-top:15px;">
                    <img class=" circle responsive-img hoverable" style="height:160px;display:inline-block;" src="/assets/img/mypage/profile3.jpeg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/leica-logo-black-and-white.png">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/hasselblad_logo_white_low.jpg">
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col s10 offset-s1 center-align">
                <p class="black-text">I love photography!<br>
                  Life is a journey! Always recording!</p>
              </div>
            </div>

          </div>
        </div>
      </li>
      <li>
        <img src="/assets/img/mypage/white_background.jpg"> <!-- random image -->
        <div class="caption right-align">
          <div class="card small hoverable">
            <div class="row">
              <div class="valign-wrapper">
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/Martin_guitar_logo.jpg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/pastral_GIN.jpg">
                </div>
                <div class="col l2  m4 s8 offset-s2 center-align" style="padding-top:15px;">
                    <img class=" circle responsive-img hoverable" style="height:160px;display:inline-block;" src="http://www.appbluegrass.com/wp-content/uploads/2015/10/117.jpg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:70px;width:70px;display:inline-block;" src="/assets/img/mypage/growingUp_masaaki_kishibe.jpg">
                </div>
                <div class="col l2  m2 center-align hide-on-small-and-down" style="">
                    <img class="valign responsive-img hoverable" style="height:60px;width:60px;display:inline-block;" src="/assets/img/mypage/Taylor_Guitars_Logo.png">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s10 offset-s1 center-align">
                <p class="black-text">I love guitar!<br>
                  Fingerstyle!</p>
              </div>
            </div>

          </div>
        </div>
      </li>

    </ul>
  </div>
