<div class="row center">
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
  <a class="waves-effect waves-teal btn-flat btn-large"> <span class="mainpage_title">CAREER</span></a>
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
</div>

<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture hoverable">
				<!-- <img src="img/cd-icon-picture.svg" alt="Picture"> -->
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="career_title">Actualize Coding Bootcamp</div>
				<p>I decided for a career change so I went on a 15-week full-stack web development training in Ruby on Rails, JavaScript, etc at Actualize Bootcamp.
I Worked in teams, learned to pair programming, and completed daily coding exercises. Finally,
I Built a fully functional web app, Community of Thrones, from scratch. Now it is hosted on Heroku.
        </p>
				<span class="cd-date">June 2016 - now</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie hoverable">
				<!-- <img src="img/cd-icon-movie.svg" alt="Movie"> -->
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="career_title">Columbia University Web manager</div>
				<p>I created a mostly static website for CUCSSA in Columbia using Materialize CSS framework and Animate JavaScript framework from scratch.
Also, I am managing the website now and do regular updates like adding news, fixing bugs. The website is hosted on the Columbia server at www.columbia.edu/cu/cucssa.</p>
				<span class="cd-date">October 2016 - now</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location hoverable">
				<!-- <img src="assets/img/mypage/difference_engine_logo.jpeg" alt="Picture"> -->
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<div class="career_title">BelieveAchieve</div>
				<p>BelieveAchieve is an edtech initiative seeking to provide on-demand educational and guidance services to disadvantaged high school students in the U.S.
           I worked there as a full-stack web developer in a five-people team, built the online tutorial platform with Angular, Webpack, and some other tools. </p>
				<span class="cd-date">October 2016 - now</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
