<div class="row center">
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
  <a class="waves-effect waves-orange btn-flat btn-large"> <span class="mainpage_title">SKILLS</span></a>
  <i class="fa fa-window-minimize fa-2x" aria-hidden="true"></i>
</div>

 <div class="row">
    <div class="col l3 m3 s12 center valign ">
       <a class="waves-effect waves-light btn">Rails</a>
    </div>
    <div id="progress_bar" class="col l8 m8 s12 valign">
      <div class="progress" style="padding:8px;margin-top:10px;">
        <div class="determinate" style="width: 85%"></div>
      </div>
    </div>
    <div class="col l1 m1 center valign hide-on-small-and-down">
    </div>
  </div>

    <div class="row" style="margin-top:60px;">
       <div class="col l3 m3 s12 center valign ">
          <a class="waves-effect waves-light btn">Angular</a>
       </div>
       <div id="progress_bar" class="col l8 m8 s12 valign">
         <div class="progress" style="padding:8px;margin-top:10px;">
           <div class="determinate" style="width: 70%"></div>
         </div>
       </div>
       <div class="col l1 m1 center valign hide-on-small-and-down">
       </div>
     </div>

       <div class="row" style="margin-top:60px;">
          <div class="col l3 m3 s12 center valign ">
             <a class="waves-effect waves-light btn">Ruby</a>
          </div>
          <div id="progress_bar" class="col l8 m8 s12 valign">
            <div class="progress" style="padding:8px;margin-top:10px;">
              <div class="determinate" style="width: 87%"></div>
            </div>
          </div>
          <div class="col l1 m1 center valign hide-on-small-and-down">
          </div>
        </div>

          <div class="row" style="margin-top:60px;">
             <div class="col l3 m3 s12 center valign ">
                <a class="waves-effect waves-light btn">CSS/HTML</a>
             </div>
             <div id="progress_bar" class="col l8 m8 s12 valign">
               <div class="progress" style="padding:8px;margin-top:10px;">
                 <div class="determinate" style="width: 95%"></div>
               </div>
             </div>
             <div class="col l1 m1 center valign hide-on-small-and-down">
             </div>
           </div>

             <div class="row" style="margin-top:60px;">
                <div class="col l3 m3 s12 center valign ">
                   <a class="waves-effect waves-light btn">Javascript</a>
                </div>
                <div id="progress_bar" class="col l8 m8 s12 valign">
                  <div class="progress" style="padding:8px;margin-top:10px;">
                    <div class="determinate" style="width: 70%"></div>
                  </div>
                </div>
                <div class="col l1 m1 center valign hide-on-small-and-down">
                </div>
              </div>

              <div class="row" style="margin-top:60px;">
                 <div class="col l3 m3 s12 center valign ">
                    <a class="waves-effect waves-light btn">SQL</a>
                 </div>
                 <div id="progress_bar" class="col l8 m8 s12 valign">
                   <div class="progress" style="padding:8px;margin-top:10px;">
                     <div class="determinate" style="width: 65%"></div>
                   </div>
                 </div>
                 <div class="col l1 m1 center valign hide-on-small-and-down">
                 </div>
               </div>

  </div>
</div>
