/* Add here all your css styles (customizations) */



  .navbar-brand img {
     width:auto;
     height:100%;
  }


@media (max-width: 480px) {

  .navbar-brand img {
     margin-top: 12.5px;
     width:auto;
     height:50%;
  }
}
